openapi: 3.0.3
info:
  title: HFT Order Service API
  version: "1.0.0"
  description: 
    $ref: "./docs/description_ru.md"

servers:
  - url: https://api.hftorders.online

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    LimitParam:
      name: limit
      in: query
      description: Максимальное количество записей (не более 1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    OffsetParam:
      name: offset
      in: query
      description: Смещение от начала списка
      schema:
        type: integer
        minimum: 0
    OrderDateFrom:
      name: order_date_from
      in: query
      description: Минимальная дата создания заявки (ISO-8601)
      schema:
        type: string
        format: date-time
    OrderDateTo:
      name: order_date_to
      in: query
      description: Максимальная дата создания заявки (ISO-8601)
      schema:
        type: string
        format: date-time
    HftOrderId:
      name: hft_order_id
      in: query
      description: Фильтр по ID заявки (uuid)
      schema:
        type: string
        format: uuid

  schemas:
    Instrument:
      type: object
      properties:
        ticker:
          type: string
          description: Биржевой тикер инструмента
        live_connections:
          type: array
          description: Список возможных подключений для получения маркет-даты
          items:
            type: object
            properties:
              code:
                type: string
                description: Уникальный код подключения
              is_active:
                type: boolean
                description: Подключение активно и может использоваться
              is_default:
                type: boolean
                description: Подключение используется по умолчанию
            required: [code, is_active, is_default]
        trade_connections:
          type: array
          description: Список торговых подключений для выставления заявок
          items:
            type: object
            properties:
              code:
                type: string
                description: Уникальный код подключения
              is_active:
                type: boolean
                description: Подключение активно и может использоваться
              is_default:
                type: boolean
                description: Подключение используется по умолчанию
            required: [code, is_active, is_default]
        name:
          type: string
          description: Человекочитаемое название инструмента
        step:
          type: number
          description: Минимальный шаг цены
        step_price:
          type: number
          description: Стоимость одного шага цены в валюте котировки
        is_active:
          type: boolean
          description: Флаг активности инструмента
      required: [ticker, mic, name, lot_size, step, step_price, scale, is_active]

    ExecutionOptions:
      type: object
      description: Настройки алгоритма исполнения заявки
      properties:
        is_maker_in_first_stage:
          type: boolean
          description: >
            Определяет базу для вычисления цены на первой серии попыток  
            true — от bid при покупке и от ask при продаже;  
            false — наоборот.
        first_stage_price_shift_in_steps:
          type: integer
          description: Отступ в шагах цены для первой серии попыток
        first_stage_attempt_count:
          type: integer
          description: Количество перевыставлений в первой серии попыток
        second_stage_price_shift_in_steps:
          type: integer
          description: Отступ в шагах цены для второй серии попыток
        second_stage_attempt_count:
          type: integer
          description: Количество перевыставлений во второй серии попыток
        time_limit_in_millis:
          type: integer
          description: Интервал между попытками (мс)

    OrderItemRequest:
      type: object
      required: [ticker, quantity, side, execution]
      properties:
        ticker:
          type: string
          description: Тикер инструмента
        trade_connection_code:
          type: string
          description: Код торгового подключения (по умолчанию US stocks)
        live_connection_code:
          type: string
          description: Код подключения маркет-даты (по умолчанию US stocks)
        quantity:
          type: number
          description: Количество лотов (для US stocks — 1 лот = 1 акция)
        side:
          type: string
          enum: [buy, sell]
          description: Направление (buy — покупка, sell — продажа)
        execution:
          $ref: '#/components/schemas/ExecutionOptions'

    OrderItemDetails:
      allOf:
        - $ref: '#/components/schemas/OrderItemRequest'
        - type: object
          required: [executed_quantity, average_price, trades]
          properties:
            executed_quantity:
              type: number
              description: Исполненное количество лотов
            average_price:
              type: number
              description: Средняя цена исполнения
            trades:
              type: array
              description: Список сделок
              items:
                $ref: '#/components/schemas/TradeReport'

    OrderRequest:
      type: object
      required: [hft_order_id, orders]
      properties:
        hft_order_id:
          type: string
          format: uuid
          description: Уникальный ID заявки HFT Order, назначаемый клиентом
        orders:
          type: array
          minItems: 1
          description: Состав заявки HFT Order (один или несколько приказов)
          items:
            $ref: '#/components/schemas/OrderItemRequest'

    OrderAccepted:
      type: object
      required: [hft_order_id]
      properties:
        hft_order_id:
          type: string
          format: uuid
          description: ID принятого заявки HFT Order

    ErrorResponse:
      type: object
      required: [error_code, error_description]
      properties:
        error_code:
          type: string
          description: |
            01 — ошибка в запросе  
            02 — ошибка размещения (например, недостаточно средств)  
            03 — техническая ошибка
        error_description:
          type: string
          description: Человекочитаемое описание ошибки

    TradeReport:
      type: object
      description: Детали частичного исполнения
      properties:
        timestamp:
          type: string
          format: date-time
          description: Время исполнения
        stock_exchange_order_id:
          type: string
          description: ID заявки на стороне биржи
        quantity:
          type: number
          description: Исполненное количество
        price:
          type: number
          description: Цена исполнения

    OrderDetails:
      type: object
      required: [hft_order_id, created, orders]
      properties:
        hft_order_id:
          type: string
          format: uuid
          description: ID заявки HFT Order
        created:
          type: string
          format: date-time
          description: Дата и время приёма заявки HFT Order
        orders:
          type: array
          description: Детализация по каждому приказу в заявке HFT Order
          items:
            $ref: '#/components/schemas/OrderItemDetails'

paths:
  /api/instruments:
    get:
      summary: Получить список инструментов
      parameters:
        - name: search
          in: query
          description: >
            Подстрока для поиска по тикеру или названию без учёта регистра
          schema:
            type: string
        - name: is_search_exact
          in: query
          description: >
            Если true — искать точное совпадение search с тикером
          schema:
            type: boolean
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'

  /api/hft-order:
    post:
      summary: Разместить новую заявку
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAccepted'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/hft-orders:
    get:
      summary: Получить список заявок
      parameters:
        - $ref: '#/components/parameters/HftOrderId'
        - $ref: '#/components/parameters/OrderDateFrom'
        - $ref: '#/components/parameters/OrderDateTo'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderDetails'
